.App {
  position: relative;
  padding: 30px;
}

.heading {
  font-weight: 600;
}

p {
  color: #595959;
}

.competencyColor {
  color: #27b12e;
}

.primaryColor {
  color: gray;
  font-weight: 500;
}

.applicationColor {
  color: black;
  font-weight: 500;
}

.iconColor {
  color: grey;
}

.textColor {
  margin: 0;
  font-weight: 500;
  color: 'black';
}

.dropdowntoggle {
  border-bottom: '1px solid #595959 !important';
  border-radius: 0;
  padding: 5;
  color: '#595959';
}

.dropdown-toggle {
  float: right;
  border-bottom: black;
  margin: inherit;
}

.roundedView {
  color: black;
  padding: 20px;
  text-align: center;
  display: inline-block;
  border-radius: 38px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.bottomView {
  box-shadow: 3px 4px 8px #89c8e282;
  height: 200;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
}

.button {
  border: 1px solid gray;
  color: gray;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

.button:active,
.button:focus {
  /* border: none; */
  outline: none;
}

.dropdown-toggle .btn:active {
  outline: none;
}

.tagButton {
  background-color: white;
}

.addButton {
  background-color: #ececec;
  border-color: #ececec;
}

.fa {
  margin-left: 30px;
}

.fa-plus,
.fa-close,
.fa-share-square-o {
  margin-left: 10px;
}

.fa-envelope-o {
  margin-left: 0px;
}

.fa-star {
  margin-left: 5px;
}

.filled {
  color: gold;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  /* text-align: center; */
  font-family: FontAwesome;
}
.rating > span {
  display: inline-block;
  position: relative;
  /* width: 1.1em; */
  color: gray;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: '\f005';
  position: absolute;
  left: -10;
  color: gold;
}

.dropStyle {
  margin: 40px 10px 10px 0px;
  float: right;
}
